
  .tab {
    display: inline-block;
    margin-left: 4em;
    margin-bottom: 10px;
  
  }
  .mt-2{
    margin-bottom: 10px;
  }

  .full-solution{
    padding-top: 5px;
    text-align: left;
    
    color: white;
    letter-spacing: 0px;
  }